# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "d5ccfb3e6c5478ebd0aa5303d8eb3d29"
name = "promofy"
application_url = "https://promofy-flame.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,write_discounts,read_discounts"

[auth]
redirect_urls = [
  "https://promofy-flame.vercel.app/auth/callback",
  "https://promofy-flame.vercel.app/auth/shopify/callback",
  "https://promofy-flame.vercel.app/api/auth/callback"
]
